


:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}

.has-black-color {
    color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
    color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
    color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
    color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
    color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
    color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
    color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
    color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
    color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
    color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
    color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
    color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-background-color {
    background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
    background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
    background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
    background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
    background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
    background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
    background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
    background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
    background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
    background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-border-color {
    border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
    border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
    border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
    border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
    border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
    border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
    border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
    border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
    border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
    border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
    background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
    background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
    background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
    background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
    background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
    background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
    background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
    background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
    background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
    background: var(--wp--preset--gradient--midnight) !important;
}

.has-small-font-size {
    font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
    font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
    font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
    font-size: var(--wp--preset--font-size--x-large) !important;
}

.wp-block-navigation a:where(:not(.wp-element-button)) {
    color: inherit;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}

.wp-block-pullquote {
    font-size: 1.5em;
    line-height: 1.6;
}
.elementor-widget-image {
    text-align: center
}

.elementor-widget-image a {
    display: inline-block
}

.elementor-widget-image a img[src$=".svg"] {
    width: 48px
}

.elementor-widget-image img {
    vertical-align: middle;
    display: inline-block
}
.elementor-heading-title {
    padding: 0;
    margin: 0;
    line-height: 1
}

.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
    color: inherit;
    font-size: inherit;
    line-height: inherit
}

.elementor-widget-heading .elementor-heading-title.elementor-size-small {
    font-size: 15px
}

.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
    font-size: 19px
}

.elementor-widget-heading .elementor-heading-title.elementor-size-large {
    font-size: 29px
}

.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
    font-size: 39px
}

.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
    font-size: 59px
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: #69727d;
    color: #fff
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
    color: #69727d;
    border: 3px solid;
    background-color: transparent
}

.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
    margin-top: 8px
}

.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
    width: 1em;
    height: 1em
}

.elementor-widget-text-editor .elementor-drop-cap {
    float: left;
    text-align: center;
    line-height: 1;
    font-size: 50px
}

.elementor-widget-text-editor .elementor-drop-cap-letter {
    display: inline-block
}

.elementor-button.elementor-hidden,
.elementor-hidden {
    display: none
}

.e-form__step {
    width: 100%
}

.e-form__step:not(.elementor-hidden) {
    display: flex;
    flex-wrap: wrap
}

.e-form__buttons {
    flex-wrap: wrap
}

.e-form__buttons,
.e-form__buttons__wrapper {
    display: flex
}

.e-form__indicators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 13px;
    margin-bottom: var(--e-form-steps-indicators-spacing)
}

.e-form__indicators__indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 0;
    padding: 0 var(--e-form-steps-divider-gap)
}

.e-form__indicators__indicator__progress {
    width: 100%;
    position: relative;
    background-color: var(--e-form-steps-indicator-progress-background-color);
    border-radius: var(--e-form-steps-indicator-progress-border-radius);
    overflow: hidden
}

.e-form__indicators__indicator__progress__meter {
    width: var(--e-form-steps-indicator-progress-meter-width, 0);
    height: var(--e-form-steps-indicator-progress-height);
    line-height: var(--e-form-steps-indicator-progress-height);
    padding-right: 15px;
    border-radius: var(--e-form-steps-indicator-progress-border-radius);
    background-color: var(--e-form-steps-indicator-progress-color);
    color: var(--e-form-steps-indicator-progress-meter-color);
    text-align: right;
    transition: width .1s linear
}

.e-form__indicators__indicator:first-child {
    padding-left: 0
}

.e-form__indicators__indicator:last-child {
    padding-right: 0
}

.e-form__indicators__indicator--state-inactive {
    color: var(--e-form-steps-indicator-inactive-primary-color, #c2cbd2)
}

.e-form__indicators__indicator--state-inactive [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
    background-color: var(--e-form-steps-indicator-inactive-secondary-color, #fff)
}

.e-form__indicators__indicator--state-inactive object,
.e-form__indicators__indicator--state-inactive svg {
    fill: var(--e-form-steps-indicator-inactive-primary-color, #c2cbd2)
}

.e-form__indicators__indicator--state-active {
    color: var(--e-form-steps-indicator-active-primary-color, #39b54a);
    border-color: var(--e-form-steps-indicator-active-secondary-color, #fff)
}

.e-form__indicators__indicator--state-active [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
    background-color: var(--e-form-steps-indicator-active-secondary-color, #fff)
}

.e-form__indicators__indicator--state-active object,
.e-form__indicators__indicator--state-active svg {
    fill: var(--e-form-steps-indicator-active-primary-color, #39b54a)
}

.e-form__indicators__indicator--state-completed {
    color: var(--e-form-steps-indicator-completed-secondary-color, #fff)
}

.e-form__indicators__indicator--state-completed [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
    background-color: var(--e-form-steps-indicator-completed-primary-color, #39b54a)
}

.e-form__indicators__indicator--state-completed .e-form__indicators__indicator__label {
    color: var(--e-form-steps-indicator-completed-primary-color, #39b54a)
}

.e-form__indicators__indicator--state-completed .e-form__indicators__indicator--shape-none {
    color: var(--e-form-steps-indicator-completed-primary-color, #39b54a);
    background-color: initial
}

.e-form__indicators__indicator--state-completed object,
.e-form__indicators__indicator--state-completed svg {
    fill: var(--e-form-steps-indicator-completed-secondary-color, #fff)
}

.e-form__indicators__indicator__icon {
    width: var(--e-form-steps-indicator-padding, 30px);
    height: var(--e-form-steps-indicator-padding, 30px);
    font-size: var(--e-form-steps-indicator-icon-size);
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px
}

.e-form__indicators__indicator__icon img,
.e-form__indicators__indicator__icon object,
.e-form__indicators__indicator__icon svg {
    width: var(--e-form-steps-indicator-icon-size);
    height: auto
}

.e-form__indicators__indicator__icon .e-font-icon-svg {
    height: 1em
}

.e-form__indicators__indicator__number {
    width: var(--e-form-steps-indicator-padding, 30px);
    height: var(--e-form-steps-indicator-padding, 30px);
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px
}

.e-form__indicators__indicator--shape-circle {
    border-radius: 50%
}

.e-form__indicators__indicator--shape-square {
    border-radius: 0
}

.e-form__indicators__indicator--shape-rounded {
    border-radius: 5px
}

.e-form__indicators__indicator--shape-none {
    border: 0
}

.e-form__indicators__indicator__label {
    text-align: center
}

.e-form__indicators__indicator__separator {
    width: 100%;
    height: var(--e-form-steps-divider-width);
    background-color: #c2cbd2
}

.e-form__indicators--type-icon,
.e-form__indicators--type-icon_text,
.e-form__indicators--type-number,
.e-form__indicators--type-number_text {
    align-items: flex-start
}

.e-form__indicators--type-icon .e-form__indicators__indicator__separator,
.e-form__indicators--type-icon_text .e-form__indicators__indicator__separator,
.e-form__indicators--type-number .e-form__indicators__indicator__separator,
.e-form__indicators--type-number_text .e-form__indicators__indicator__separator {
    margin-top: calc(var(--e-form-steps-indicator-padding, 30px) / 2 - var(--e-form-steps-divider-width, 1px) / 2)
}

.elementor-field-type-hidden {
    display: none
}

.elementor-field-type-html {
    display: inline-block
}

.elementor-login .elementor-lost-password,
.elementor-login .elementor-remember-me {
    font-size: .85em
}

.elementor-field-type-recaptcha_v3 .elementor-field-label {
    display: none
}

.elementor-field-type-recaptcha_v3 .grecaptcha-badge {
    z-index: 1
}

.elementor-button .elementor-form-spinner {
    order: 3
}

.elementor-form .elementor-button>span {
    display: flex;
    justify-content: center;
    align-items: center
}

.elementor-form .elementor-button .elementor-button-text {
    white-space: normal;
    flex-grow: 0
}

.elementor-form .elementor-button svg {
    height: auto
}

.elementor-form .elementor-button .e-font-icon-svg {
    height: 1em
}

.elementor-select-wrapper .select-caret-down-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    inset-inline-end: 10px;
    pointer-events: none;
    font-size: 11px
}

.elementor-select-wrapper .select-caret-down-wrapper svg {
    display: unset;
    width: 1em;
    aspect-ratio: unset;
    fill: currentColor
}

.elementor-select-wrapper .select-caret-down-wrapper i {
    font-size: 19px;
    line-height: 2
}

.elementor-select-wrapper.remove-before:before {
    content: "" !important
}
.elementor-widget-image-carousel .swiper,
.elementor-widget-image-carousel .swiper-container {
    position: static
}

.elementor-widget-image-carousel .swiper-container .swiper-slide figure,
.elementor-widget-image-carousel .swiper .swiper-slide figure {
    line-height: inherit
}

.elementor-widget-image-carousel .swiper-slide {
    text-align: center
}

.elementor-image-carousel-wrapper:not(.swiper-container-initialized):not(.swiper-initialized) .swiper-slide {
    max-width: calc(100% / var(--e-image-carousel-slides-to-show, 3))
}